<div class="card" style="width: 18rem; margin: 30px 13px;">
    <img class="card-img-top" src="<%= info.picSource %> " alt="<%= info.name %>"  width="100%" height="180px">
    <div class="card-body">
        <h5 class="card-title"><%= info.name %></h5>
        <p class="card-text">color: <%= info.color %> </p>
        <p class="card-text">size: <%= info.size %> </p>
        <p class="card-text">materials: <%= info.material %> </p>
        <span> price: <%= info.price %> </span>
        <a href=" <%= info.link %> " class=" btn btn-primary" style="margin-left:20px">Buy</a>
    </div>
</div>